<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') -%>

  <body class="body__cart">
    <%- include('../partials/header') -%>

      <main class="main__cart">
        <section class="cart__navbar">
          <div class="title">
            <i class="fas fa-gamepad"></i><span>
              <%= game.name %>
            </span>
          </div>
        </section>

        <section class="cart__container">
          <div class="cart__item">
            <div class="cart__product__img">
              <img src="/img/products/cover/<%= game.coverImage %>" alt="" />
            </div>
            <div class="cart__content">
              <div class="cart__product__title">
                <span>
                  <%= game.name %>
                </span>
              </div>
              <div class="cart__product__rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="cart__product__category">
                <span class="cart__product__category">Category: <%= game.gamecategory.name %> </span>
                <span class="span__name">
                </span>
              </div>
              <div class="cart__product__description">
                <%= game.description %>
              </div>
              <div class="cart__product__buy">
                <div class="cart__item__count">
                  <button><i class="fas fa-minus"></i></button>
                  <input type="text" name="cart-item-count" placeholder="1" />
                  <button><i class="fas fa-plus"></i></button>
                </div>
                <div>
                  <a href="/cart" class="nav-links">
                    <span class="span__name">ADD TO CART</span>
                    <i class="fas fa-cart-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="cart__checkout__container">
          <form action="/buy">
            <div class="cart__checkout__total">
              <span class="checkout__span__price">$<%= game.price %></span>
            </div>
            <div class="cart__checkout">
              <button type="submit" value="Go to Home">COMPRAR</button>
            </div>
          </form>
        </section>
      </main>
      <%- include('../partials/footer') -%>
  </body>

</html>