<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') -%>

  <body class="body__index">
    <%- include('partials/header') -%>

      <main class="main__index">
        <section class="bestseller__wrapper">
          <div class="bestseller__title">
            <span>Mas vendidos</span>
          </div>

          <div class="cards__container">
            <div class="triangulo izquierda">
              <div></div>
            </div>
            <% game.forEach(function(game){ %>
              <%- include('partials/mainCard', {game}) %>
                <% }); %>
                  <div class="triangulo derecha">
                    <div></div>
                  </div>
          </div>
        </section>
        <section class="bestseller__wrapper">
          <div class="bestseller__title">
            <span>Mas Valorados</span>
          </div>

          <div class="cards__container">
            <div class="triangulo izquierda">
              <div></div>
            </div>
            <% game.forEach(function(game){ %>
              <%- include('partials/mainCard', {game}) %>
                <% }); %>
                  <div class="triangulo derecha">
                    <div></div>
                  </div>
          </div>
        </section>

      </main>
      <%- include('partials/footer') -%>
  </body>

</html>