<!DOCTYPE html>
<html lang="en">
<!-- START Head Content -->
<%- include('../partials/head', { data: 'userProfile' }); %>

	<body>
		<!-- START Header Content -->
		<%- include('../partials/header.ejs'); %>

			<!-- Container -->
			<main>

				<div class="profile__card">

					<div class="profile__header">
					</div>

					<div class="profile__content">
						<div class="profile__avatar">
							<img src="/img/avatars/<%= user.avatar %>" alt="<%= user.name %>" class="profile__image">
						</div>

						<div class="profile__data">

							<input type="text" name="" id="" value="<%= user.name %>" disabled>
							<input type="email" name="" id="" value="<%= user.email %>" disabled>

						</div>

					</div>

				</div>

				<%- include('../partials/footer'); %>
			</main>
	</body>

</html>